/*****BASE STYLES*****/

body {
    font-family: 'Josefin Sans', sans-serif;
    color: #656660;
    font-size: 25px;
    background-color: #ffdbe9; 
}

/*****GRID*****/

.full-width {
    width: 95%;
    margin: 0 auto;
    overflow: auto;
}

.half-width {
    width: 40%;
    float: left;
    padding-left: 70px;
}

/*****HEADER*****/

header .full-width {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;  
}

header h1 {
    width: 100%;
    padding: 10px 0;    
    font-family: 'Emblema One', cursive;
    font-size: 60px;
    text-align: center;
    color: #fe7f9c;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    padding-right: 25px;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    color: plum;
    
}

header a:hover {
    color: #fe7f9c;
    font-size: 25px;
    font-family: 'Emblema One', cursive;
}

header h2 {
    text-align: center;
    font-size: 40px;
    width: 90%;
    padding: 0 9%;
    line-height: 150%;
    font-weight: 900;
}

/*****MAIN*****/

/*****ABOUT ME*****/

#about h2 {
    font-size: 40px;
    font-family: 'Emblema One', cursive;
    padding: 10px 0;
    text-align: center;
    color: #fe7f9c;
    border: solid 2px;
}

.about-me  {
    line-height: 35px;
    text-align: center;
    font-size: 20px;
    margin: 0 15px;
}

/*****PROJECTS*****/

#projects {
    text-align: center;
}

#projects h2 {
    font-size: 40px;
    font-family: 'Emblema One', cursive;
    text-align: center;
    color: #fe7f9c;
    border: solid 2px;
    margin: 0 auto 20px auto;
    padding: 10px 0;
}

#projects h3 {
    font-size: 30px;
    font-family: 'Emblema One', cursive;
    color: palevioletred;
}

.project-piece img {
    width: 95%;
    border: 6px pink solid;
    border-radius: 20px;
}

.project-sections {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 35px;
    width: 100%;
    margin: 25px auto;
    padding-top: 30px;
}

.project-piece {
    width: 60%;
    max-width: 800px;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    border-radius: 18px;
    border: 4px double #ffb6c1;
}

.project-button {
    width: 100%;
    color: hotpink;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 20px;
    background-color: pink;
    border-color: whitesmoke;
    text-align: center;
}

.project-button:hover {
    background: rgba(238, 182, 182, 0.3);;
    color: hotpink;
    border: 4px solid pink;
    font-weight: bolder;
}

.project-piece p {
    font-size: 20px;
    line-height: 28px;
    padding: 15px 0;
}

.project-piece .skills-header {
    font-size: 18px;
    font-family: 'Emblema One', cursive;
    color: palevioletred;
    border-bottom: 1px plum solid;
    margin: 10px auto 0 auto;
}

 .project-piece .skills-list {
    line-height: 120%;
    font-size: 15px;
}

/*****SKILLS AND TOOLS*****/
#skills-tools h2 {
    font-size: 40px;
    font-family: 'Emblema One', cursive;
    padding: 10px 0;
    text-align: center;
    color: #fe7f9c;
    border: solid 2px;
}


.skills-tools-sections {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 35px;
    width: 100%;
    margin: 25px auto;
}

.skills ul, 
.skills2 ul, 
.tools ul {
    list-style-type: none;
    width: 90%;
    max-width: 200%;
    height: 500%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    line-height: 40px;
    padding: 0 15px;
    font-size: 20px;
}

/*****CONTACT*****/
footer {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

#contact h2 {
    font-size: 40px;
    font-family: 'Emblema One', cursive;
    padding: 10px 0;
    text-align: center;
    color: #fe7f9c;
    border: solid 2px;
}

.summary {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    width: 100%;
    margin: 1px auto;
    text-align: center;
    padding-bottom: 20px;
   
}

.summary h4 {
    font-size: 30px;
    line-height: 50px;
}

.summary p {
    font-size: 90%;
    text-align: center;
    width: 100%;
    max-width: 500px;
    height: 500%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    line-height: 40px;
}

/*****IMG OVERLAY*****/
.container {
    position: relative;
    width: 50%;
}

.summary img {
    display: block;
    width: 95%;
    height: auto;
    border-radius: 80%;
    border: solid 5px pink;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 95%;
    opacity: 0;
    transition: .8s ease;
    background: rgba(238, 182, 182, 0.3);
    border-radius: 80%;
    padding-left: 10px;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Emblema One', cursive;
}

/*****Social Icons*****/

.icons h3 {
    height: 50%;
    width: 95%;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.social-icons p {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 180%;
  }

.end-footer {
    text-align: center;
    color: #F9629F;
    padding: 40px 30px;
    font-size: 90%;
}

.footer {
    font-family: 'Lily Script One', cursive; 
}

/******MEDIA SCREEN TABLET*****/
@media screen and (min-width: 760px) {
    /*HEADER*/
    header .full-width {
        justify-content: space-between;
        width: 100%;
    }

    header h1 {
        width: 45%;
        padding-top: 20px;
    }

    header nav {
        width: 45%;
    }

    header h2 {
        font-size: 50px;
        line-height: 90px;
    }
    header nav ul {
        justify-content: space-evenly;
        font-size: 40px;
    }

    nav {
        padding: 30px 20px;
    }

    .about-me {
        font-size: 30px;
        line-height: 45px;
    }

    /*SKILLS AND TOOLS*/
    .project-piece {
        width: 40%;
    }

    /*CONTACT*/


    /*****CONTACT ME*****/
    .summary {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: row wrap;
        gap: 35px;
        width: 40%;
        margin: 25px auto;
    }

    /*
    .summary {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: row wrap;
        gap: 35px;
        width: 100%;
        margin: 25px auto;
        padding: 5px 5px;
    }
    
    .summary  {
        font-size: 90%;
        text-align: center;
        width: 40%;
        height: 400%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: left;
        line-height: 30px;
    }
*/

}

/*****1200 px screens*****/
@media screen and (min-width: 1200px) {
    
    header h1 {
        font-size: 35px;
        width: 40%;
        padding-bottom: 20px;
        
    }

    header nav ul {
        justify-content: space-evenly;
        font-size: 20px;
        padding-right: 40px;
        padding-bottom: 10px;
    }

    header h2 {
        font-size: 70px;
        line-height: 150%;
        padding: 10px;
        padding-left: 40px;
    }

    .project-piece {
        width: 25%;
    }

    #about h2,
    #projects h2,
    #skills-tools h2, 
    #contact h2 {
        font-size: 90px;
    }

    /*****CONTACT ME*****/
    .img-summary {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: row wrap;
        gap: 35px;
        width: 100%;
        margin: 25px auto;
        padding: 5px 5px;
    }
    
}