/*****BASE STYLES*****/

body {
    font-family: 'Josefin Sans', sans-serif;
    color: #656660;
    font-size: 25px;
    background-color: #ecc8db; 
}

/*****GRID*****/

.full-width {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

.half-width {
    width: 600px;
     float: left;
}

.third-width {
    width: 400px;
    float: left;
}

/*****HEADER*****/

header {
    height: fit-content;
    text-align: center;
}

header .full-width {
    display: flex;
    flex-wrap: wrap;
    display: inline;
}

header h1 {
    width: 100%;
    text-align: center;
    font-size: 75px;
    padding: 40px 0;
    font-family: 'Pacifico', cursive;
    color: #d469a1;
}

header a:hover {
    color: #d469a1;
    font-size: 40px;
    font-family: 'Pacifico', cursive;
}

nav {
    width: 90%;
    padding-left: 50px
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    color: plum;
}

/*****MAIN*****/

main h2 {
    text-align: left;
    font-size: 40px;
    width: 80%
    
    
}



@media screen and (min-width: 760px) {

}




/*****1200 px screens*****/
@media screen and (min-width: 1200px) {




}