/*****BASE STYLES*****/

body {
    font-family: 'Josefin Sans', sans-serif;
    color: #656660;
    font-size: 25px;
    background-color: #ecc8db; 
}

/*****GRID*****/

.full-width {
    width: 90%;
    margin: 0 auto;
    overflow: auto;
}

.half-width {
    width: 30%;
    float: left;
    padding-left: 70px;
}

.third-width {
    width: 400px;
    float: left;
}

/*****HEADER*****/

header .full-width {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

header h1 {
    width: 100%;
    padding: 10px 0;    
    font-family: 'Emblema One', cursive;
    font-size: 60px;
    text-align: center;
    color: #d469a1;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    color: plum;
}

header a:hover {
    color: #d469a1;
    font-size: 25px;
    font-family: 'Emblema One', cursive;
}

header h2 {
    text-align: center;
    font-size: 60px;
    width: 90%;
    padding: 8% 7%;
}

/*****MAIN*****/

/*****ABOUT ME*****/

#about h2 {
    font-size: 90px;
    font-family: 'Emblema One', cursive;
    padding: 10px 0;
    text-align: center;
    color: #d469a1;
    border: solid 2px;
}

#about .selfie {
    border-radius: 50%;
    width: 60%;
    height: 40%;
}

/*****PROJECTS*****/
#projects h2 {
    font-size: 90px;
    font-family: 'Emblema One', cursive;
    padding: 10px 0;
    text-align: center;
    color: #d469a1;
    border: solid 2px;
}



/*****SKILLS AND TOOLS*****/
#skills-tools h2 {
    font-size: 90px;
    font-family: 'Emblema One', cursive;
    padding: 10px 0;
    text-align: center;
    color: #d469a1;
    border: solid 2px;
}

/*****CONTACT*****/
#contact h2 {
    font-size: 90px;
    font-family: 'Emblema One', cursive;
    padding: 10px 0;
    text-align: center;
    color: #d469a1;
    border: solid 2px;
}




@media screen and (min-width: 760px) {
    header .full-width {
        justify-content: space-between;
        width: 100%;
    }

    header h1 {
        width: 45%;
        padding: 30px 0;
    }

    header nav {
        width: 45%;
    }

    header nav ul {
        justify-content: space-evenly;
        font-size: 40px;
    }

    nav {
        padding: 40px 20px;
    }
}

/*****1200 px screens*****/
@media screen and (min-width: 1200px) {
    
    header h1 {
        font-size: 35px;
        width: 40%;
    }

    header nav ul {
        justify-content: space-evenly;
        font-size: 20px;
        padding-right: 40px;
    }



}



    /*****.main-header {
        width: 90%;
    }
    .name {
        padding: 15px 10px;
        font-size: 30px;
        color: plum;
    }
    
    .navigation {
        float: right;
        padding: 15px 30px;
    }
    
    nav ul li {
        display: inline-block;
    }
    
    nav ul li a {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 18px;
        color:#828282; 
        padding-left: 10px;
    }*****/